/* Atributos de la página*/
body {
  background-color: #7ecba1;
}

#container {
  padding-top: 1%;
  position: relative;
  width: 850px;
  margin: auto;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: #e7eed2;
}

/*Atributos del banner*/
header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 340px;
}

#nombreclub {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
  padding: 1%;
  font-size: 2em;
  background-color: #466551;
  text-align: center;
  color: #e7eed2;
}

#logo {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 150px;
  left: 80%;
}

/*Atributos de la barra de navegación*/
nav {
  width: 100%;
  position: relative;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #e7eed2;
  border-width: thin;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #466551;
}

li a:hover {
  background-color: #e7eed2;
  color: #466551;
}

.current {
  background-color: #368c72;
  font-weight: bold;
}

/* Atributos de secciones */
section {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5em;
  position: relative;
  background-color: #466551;
  margin-bottom: 3%;
  height: auto;
}

#titulopagina {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  background-color: #466551;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #e7eed2;
}

section p {
  padding-top: 0.5em;
}

/* Pagina de Eventos Proximos */
.titulo-lista {
  font-weight: bolder;
  font-style: italic;
}

.item-lista {
  margin-left: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* Pagina de Reglas */
.rules {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.rules ol li {
  margin-left: 1em;
  padding-top: 0.3em;
}

.rules ul li {
  margin-left: 1em;
  padding-top: 0.3em;
}

/* Estilo unico para titulo FIFA */
h4 {
  font-size: 1.5em;
  text-align: center;
  color: white;
  padding: 1em;
}

/* Estilo de cada titulo de reglas */
h6 {
  color: #7ecba1;
  font-weight: bolder;
  width: auto;
}

strong {
  font-weight: bold;
}

/* Estilo para titulo de Objetivos */
h5 {
  font-size: 1.5em;
  font-weight: bold;
}

/* Estilo de Tablas */
table {
  margin: auto;
}

td {
  padding: 0.5em 2em 0.5em 2em;
}

th {
  padding: 4px;
  text-decoration: underline;
}

#datos-cronograma {
  padding: 2em;
}
/* Estilo de Formulario */

form {

}
input {
}
fieldset {
  margin: auto;
}
